@import "reset";
$brand: '#3B9FF7';

@font-face {
    font-family: 'Metropolis-Regular';
    src: url('assets/fonts/Metropolis-Regular.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis-Light';
    src: url('assets/fonts/Metropolis-Light.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis-SemiBold';
    src: url('assets/fonts/Metropolis-SemiBold.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis-Bold';
    src: url('assets/fonts/Metropolis-Bold.woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #fafafa;
}